@model IEnumerable<Blogcatch.ViewModel.Admin.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="categoryTextInput" /><br />
        <a href="#" class="btn btn-primary" id="categoryNewButton">Create a new category</a>
    </div>
    <div class="col-md-6">
        <span class="ajax-text">
            <img id="ajaxImage" src="~/Content/images/ajax-loader.gif" />
        </span>
    </div>
</div>
<table class="table sorting" id="categories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id" class="@item.Slug">
                <td class="category-name">
                    <div class="ajax-rename-category"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    <a href="#" class="js-delete" data-category-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {


            /*
            * Create new category
            */

            var categoryTextInput = $("#categoryTextInput");
            var categoryNewButton = $("a#categoryNewButton");
            var ajaxText = $("span.ajax-text");
            var ajaxImage = $("#ajaxImage");
            var table = $("table#categories tbody");

            function UpdateCategoryMessage(ajaxMessage, ajaxClass) {
                ajaxText.html("<span class='alert alert-" + ajaxClass + "'>" + ajaxMessage + "</span>");
                setTimeout(function () {
                    ajaxText.fadeOut("fast",
                        function () {
                            ajaxText.html(ajaxImage);
                        });
                },
                    2000);
                return false;
            }

            categoryTextInput.keyup(function (e) { //if they hit enter instead of click button
                if (e.KeyCode === 13) {
                    categoryNewButton.click();
                }
            });

            categoryNewButton.click(function (e) {
                e.preventDefault(); //dont submit the form

                var categoryName = categoryTextInput.val();

                if (categoryName.length <= 2) {
                    alert("You must enter a category name that is greater than 2 characters");
                    return false;
                }

                var url = "/admin/api/Category/AddCategory";
                ajaxText.fadeIn("fast");

                $.ajax({
                    method: "POST",
                    data: JSON.stringify({ Name: categoryName }),
                    url: url,
                    contentType: 'application/json',
                    success: function (dataResponse) {
                        var response = dataResponse.toString().trim();
                        if (response === "titleTaken") { //if the title is taken
                            UpdateCategoryMessage("That title is already taken!", "danger");
                        } else { //title is not taken
                            if (!($("table#categories").length)) {
                                location.reload(); //refresh the current page
                            } else {
                                UpdateCategoryMessage("Category successfully added!", "success");
                                categoryTextInput.val("");
                                var appendTo = $("table#categories tbody tr:last").clone();
                                appendTo.attr("id", dataResponse);
                                appendTo.find("td.category-name").html(categoryName);
                                appendTo.find("a.js-delete").attr("data-category-id", dataResponse);
                                table.append(appendTo);
                                table.sortable("refresh");
                            }
                        }
                    }
                });
            });

            ////////////////////////////////////////////////////////////////////////////////////////////////

            /*
            * Reorder Categories
            */
            $("table#categories tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = JSON.stringify($("table#categories tbody").sortable("toArray"));
                    $.ajax({
                        method: "POST",
                        url: "/admin/api/Category/ReorderCategories",
                        data: ids,
                        contentType: "application/json"
                    });
                }
            });

            ////////////////////////////////////////////////////////////////////////////////////////////////

            /*
            * Delete Category
            */
            $("table#categories tbody").on("click",
                "a.js-delete",
                function () {
                    var id = $(this).attr("data-category-id");
                    if (confirm("Are you sure you want to delete this category?")) {
                        $.ajax({
                            method: "DELETE",
                            url: "/admin/api/Category/DeleteCategory/" + id
                        }).done(function () {
                            $("table#categories tbody tr#" + id).fadeOut("slow",
                                function () {
                                    $("table#categories tbody tr#" + id).remove();
                                    table.sortable("refresh");
                                });
                        });
                    }
                });

            ////////////////////////////////////////////////////////////////////////////////////////////////

            /*
            * Rename Category
            */
            var originalTextBoxValue;
            $("table#categories input.text-box").dblclick(function () {
                originalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#categories input.text-box").keyup(function(e) {
                if (e.keyCode === 13) {
                    $(this).blur();
                }
            });

            $("table#categories input.text-box").blur(function () {
                
                var inputCategory = $(this);
                var ajaxDiv = inputCategory.parent().parent().find(".ajax-rename-category");
                var url = "/admin/Category/RenameCategory";
                var id = inputCategory.parent().parent().attr("id");
                var newCatName = inputCategory.val().trim();

                if (newCatName.length < 2) {
                    alert("Category name must be greater than 2 characters");
                    return false;
                }
                $.post(url,
                    { id: id, newCatName: newCatName },
                    function(data) {
                        if (data.Success === true) {
                            ajaxDiv.html(
                                    '<span class="alert alert-success">The category has been successfully added</span>')
                                .show();
                        } else {
                            ajaxDiv.html(
                                '<span class="alert alert-danger">' + data.ErrorMessage + '</span>');
                        }
                    }).done(function() {

                    inputCategory.attr("readonly", true);
                    setTimeout(function () {
                            ajaxDiv.fadeOut("fast",
                                function () {
                                    ajaxDiv.html("");
                                });
                        },
                        2000);
                });
            });
            

        



            ////////////////////////////////////////////////////////////////////////////////////////////////

        });
    </script>
}