@model IEnumerable<Blogcatch.Models.BlogPostViewModel>

@{
    ViewBag.Title = "Home";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blogcatch</h1>
                    <hr class="small">
                    <span class="subheading">An ASP.NET MVC 5 blogging CMS built by Rawa Jalal</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Main page heading -->
            <h1 class="page-header">
                Blogcatch
                <small>Blogging CMS</small>
            </h1>
            @foreach (var post in Model)
            {
                <!-- Blog post -->
                <h2>
                    <a href="#">@post.Title</a>
                </h2>
                <p class="lead">@post.Author.UserName</p>
                <p><i class="fa fa-clock-o fa-1" aria-hidden="true"></i> Posted on @post.PostDate</p>
                <hr>
                if (post.DisplayPicture!=null)
                {
                    <img class="img-responsive" src="@post.DisplayPicture" alt="">
                }
                else
                {
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                }
                <hr>
                <p>@Html.Raw(post.Excerpt)</p>
                <a class="btn btn-primary" href="/Post?title=@post.Slug">Read More <i class="fa fa-chevron-right fa-1" aria-hidden="true"></i></a>

                <hr>
            }

        </div>
    </div>
</div>