@model Blogcatch.ViewModel.Front.BlogPostDetailViewModel
@{
    ViewBag.Title = "Post";
}

@{
    Html.RenderAction("Navbar", "Navbar", new { area = "" });
}

<header class="intro-header" style='background: url("/Content/images/post-bg.jpg") no-repeat center center;'>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">Posted by @Model.Author.Email on @Model.PostDate</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <article class="the-post">
                @Html.Raw(Model.Content)
            </article>
            <hr />
            <section class="the-comments">
                @if (Model.AllowComments)
                {

                }
                else
                {
                    <p>Comments are disabled for this post.</p>
                }
            </section>
        </div>
    </div>
    <hr />
    @if (Model.AllowComments)
    {
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Leave a comment box -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Leave a comment</h3>
                    </div>
                    <div class="panel-body">
                        <div id="comment-reply">
                            <form action="/Comments/AddComment" method="POST" class="form-horizontal" role="form">
                                <input type="hidden" name="PostSlug" id="PostSlug" value="@Model.Slug"/>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea name="Body" id="Body" class="form-control" rows="3" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Comment box-->
                <div class="comment-area">
                    @foreach (var comment in Model.CommentViewModels)
                    {
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">@comment.Author.Email <small>Posted on @comment.PostedDate </small></h4>
                                        <hr>
                                        <p>@comment.Body</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-link js-comment-reply" data-comment-id="@comment.Id">Reply</a>
                                <!-- Quick reply form gets inserted here-->
                                <div class="quick-reply" data-comment-id="@comment.Id">
                                    
                                </div>
                            </div>
                        </div>
                        if (comment.ChildrenCommentCount > 0)
                        {
                            <div class="nested-comment-container">
                                <a class="btn btn-link js-view-replies" data-parent-comment-id="@comment.Id">View all @comment.ChildrenCommentCount replies</a>
                                <div class="nested-comments" data-parent-comment-id="@comment.Id">

                                </div>
                            </div>
                        }
                    }
                </div>
            </div><!-- End of nested-comments class -->
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Comments have been disabled on this post.</p>
            </div>
        </div>
        
    }
</div>
@section scripts{
    <script>
        $(document).ready(function() {

            var ajaxImg = $("<img>").attr('src', '/Content/images/big-ajax-loader.gif');
            var ajaxImgSpan = $("<span />").addClass("ajax-image").html(ajaxImg);
            var commentForm = $("#comment-reply").clone();

            /*
            * View reply button sub routine
            */
            function ButtonToHideReplies(replyLink) {
                replyLink.html("Hide replies");
                replyLink.attr('replies-hidden', 'false');
            }
            function ButtonToShowReplies(replyLink) {
                replyLink.html("Show replies");
                replyLink.attr('replies-hidden', 'true');
            }
            //////////////////////////////////////////////////////////////////////////////////////

            /*
            * View replies for comments, on click event: AJAX get request to return child comments
            */
            $(".nested-comment-container").on("click",
                ".js-view-replies:not(.ajax-opened)",
                function() {
                    var replyLink = $(this);
                    var parentCommentId = replyLink.attr('data-parent-comment-id');
                    var nestedComments = $(".nested-comments[data-parent-comment-id=" + parentCommentId+"]").html(ajaxImgSpan);
                    $.ajax({
                        url: "/Comments/GetChildrenComments/" + parentCommentId,
                        type: "GET",
                        success: function(childComments) {
                            nestedComments.html(childComments);
                            replyLink.addClass("ajax-opened");
                            ButtonToHideReplies(replyLink);
                        },
                        error: function() {
                            alert("Can not get replies");
                        }
                    });

                });
            ////////////////////////////////////////////////////////////////////////////////////////

            /*
            * Hide and show replies after it has been retrieved using ajax
            */
            $(".nested-comment-container").on("click",
                ".js-view-replies.ajax-opened",
                function() {
                    var replyLink = $(this);
                    var parentCommentId = replyLink.attr('data-parent-comment-id');
                    var nestedComments = $(".nested-comments[data-parent-comment-id=" + parentCommentId+"]");
                    if (replyLink.attr('replies-hidden') === 'false') {
                        nestedComments.fadeOut();
                        ButtonToShowReplies(replyLink);
                    } else if (replyLink.attr('replies-hidden') === 'true') {
                        nestedComments.fadeIn();
                        ButtonToHideReplies(replyLink);
                    }

                });
            //////////////////////////////////////////////////////////////////////////////////////

            /*
            * Insert quick-reply form on a comment
            */
            $(".comment-area").on("click",
                ".js-comment-reply",
                function() {
                    var commentId = $(this).attr('data-comment-id');
                    if ($(commentForm).find("input[name=CommentId]").length === 0) {
                        var hiddenInput = $("<input />").attr('type', 'hidden').attr('name', 'CommentId')
                            .val(commentId);
                        $(commentForm).append(hiddenInput);
                    } else {
                        $(commentForm).find("input[name=CommentId]").eq(0).val(commentId);
                    }
                    
                    $(".comment-area .quick-reply[data-comment-id=" + commentId+"]").html(commentForm);
                });
        });
    </script>
}